<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biblioteca</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="blue-grey lighten-3" style="padding-top: 0">
    <div class="navbar-fixed">

        <nav>
            <div class="nav-wrapper blue-grey">
                <a class="brand-logo right">Biblioteca</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="@Url.Action("Index", "Home")" class="material-icons">library_books</a></li>
                    <li>@Html.ActionLink("Livro", "Index", "Livro")</li>
                    <li>@Html.ActionLink("Autor", "Index", "Autor")</li>
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                    <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Emprestimo", "Index", "Emprestimo")</li>
                </ul>
            </div>
        </nav>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
            $('.modal').modal();
            $('.data').datepicker({
                i18n: {
                months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                weekdays: ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'],
                weekdaysShort: ['dom', 'seg', 'ter', 'qua', 'qui', 'sex', 'sáb'],
                weekdaysAbbrev:	['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                today: 'hoje',
                clear: 'limpar',
                cancel: 'fechar'                
                },
                format: 'dd/mm/yyyy'
            });
        });
    </script>
    <div class="container body-content ">
        @RenderBody()
        <div class="container" style="position:absolute; bottom:40px;"><div class="col s12"><hr/></div></div>
        <footer style="position:absolute; bottom: 0;">
            <p>&copy; @DateTime.Now.Year - Desenvolvido por Otávio Menhart</p>
        </footer>
    </div>
</body>
</html>
